<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LAWC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
    <add key="DisableDpiChangedHighDpiImprovements" value="false"/>
    <add key="DisableDpiChangedMessageHandling" value="false"/>
    <add key="Form.DisableSinglePassScalingOfDpiForms" value="false"/>
  </System.Windows.Forms.ApplicationConfigurationSection>

  <system.diagnostics>
    <switches>
      <add name="RichLayout" value="0"/>
      <add name="SetBounds" value="4"/>
    </switches>
  </system.diagnostics>
  <userSettings>
    <LAWC.Properties.Settings>
      <setting name="Maximised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Minimised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>300, 100</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>808, 490</value>
      </setting>
      <setting name="ShowSplash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Portable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SizeRename" serializeAs="String">
        <value>436, 403</value>
      </setting>
      <setting name="LocationRename" serializeAs="String">
        <value>350, 150</value>
      </setting>
      <setting name="SettingsFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </LAWC.Properties.Settings>
  </userSettings>
</configuration>